<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/about_style.css">
      </head>
      <ul class="banner">
        <li class="banner_button"><a href="/">Home</a></li>
        <li class="banner_button"><a href="/about">About</a></li>
        <li class="banner_button_patreon"><a href="/patreon">Patreon</a></li>
        
    </ul>
            <div class="login-box">
                <h3>Morgana is a non-profit project developed for all summoners.
                </h3><br>
                <h3>Less is more. - JPNS2</h3>
              </div>
</html>