<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/game_report_style.css">
    </head>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        
    </ul>
    <h2>Game Report</h2>
    <div>
        <div class="wrapper">

        {% for champion in champions %}
            <div class="chart">
                <img src="https://ddragon.leagueoflegends.com/cdn/12.4.1/img/champion/{{champion}}.png" title="{{champion}}" alt="{{champion}}">
                <canvas id="myChart_{{champion}}" width="10" height="10" class="polar_chart"></canvas>
            </div>
        {% endfor %}
        </div>
        {% for i in range(chart_data_js|length) %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        var dumb = JSON.parse({{chart_data_js[i] | tojson |safe}});
        var data = {
        datasets: [{
            data: dumb,
            backgroundColor: [
        'rgb(128,0,0, 0.5)',
        'rgb(0,128,128, 0.5)',
        'rgb(46,139,87, 0.5)',
        'rgb(75,0,130, 0.5)',
        'rgb(112,128,144, 0.5)',
        'rgb(50,205,50, 0.5)',
        'rgb(255,215,0, 0.5)'
        ]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: ['Damage', 'Objectives', 'Buildings', 'Vision', 'CC', 'Heal & Shield', 'Gold']
        };
    
        var config = {
        type: 'polarArea',
        data: data,
        options: {
            responsive: true,
            scales: {
            r: {
                min: 0,
                max: 30,
                pointLabels: {
                display: false,
                centerPointLabels: true,
                font: {
                    size: 10
                }
                }
            },
            },
            plugins: {
            legend: {
                position: 'top',
                display: false
            },
            title: {
                display: false,
                text: 'Chart.js Polar Area Chart With Centered Point Labels'
            }
            }
        },
        };
        var myChart = new Chart(
            document.getElementById('myChart_{{champions[i]}}'),
            config
        );
        </script>
        {% endfor %}
    </div>
    <h2>Summoner Positions</h2>
    <div>
        <canvas id="heatmap" width="10" height="10" class="heatmap_chart"></canvas>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
        var summoner1_positions = {{summoner1_positions | safe}};
        var summoner2_positions = {{summoner2_positions | safe}};
        var summoner3_positions = {{summoner3_positions | safe}};
        var summoner4_positions = {{summoner4_positions | safe}};
        var summoner5_positions = {{summoner5_positions | safe}};
        var summoner6_positions = {{summoner6_positions | safe}};
        var summoner7_positions = {{summoner7_positions | safe}};
        var summoner8_positions = {{summoner8_positions | safe}};
        var summoner9_positions = {{summoner9_positions | safe}};
        var summoner10_positions = {{summoner10_positions | safe}};
        var data = {
        datasets: [
            {
            label: "{{champions[0]}}",
            data: summoner1_positions,
            backgroundColor: 'rgb(255, 99, 132)'
        },
        {
            label: "{{champions[1]}}",
            data: summoner2_positions,
            backgroundColor: 'rgb(255, 99, 132)'
        },
        {
            label: "{{champions[2]}}",
            data: summoner3_positions,
            backgroundColor: 'rgb(255, 99, 132)'
        },
        {
            label: "{{champions[3]}}",
            data: summoner4_positions,
            backgroundColor: 'rgb(255, 99, 132)'
        },
        {
            label: "{{champions[4]}}",
            data: summoner5_positions,
            backgroundColor: 'rgb(255, 99, 132)'
        },
        {
            label: "{{champions[5]}}",
            data: summoner6_positions,
            backgroundColor: 'rgb(30,144,255)'
        },
        {
            label: "{{champions[6]}}",
            data: summoner7_positions,
            backgroundColor: 'rgb(30,144,255)'
        },
        {
            label: "{{champions[7]}}",
            data: summoner8_positions,
            backgroundColor: 'rgb(30,144,255)'
        },
        {
            label: "{{champions[8]}}",
            data: summoner9_positions,
            backgroundColor: 'rgb(30,144,255)'
        },
        {
            label: "{{champions[9]}}",
            data: summoner10_positions,
            backgroundColor: 'rgb(30,144,255)'
        }
    ],
        };
        var config = {
        type: 'scatter',
        data: data,
        options: {
            elements: {
                point: {
                    radius: 5
                }
            },
            scales: {
            x: {
                display: false,
                grid: {
                    display: false},
                min: 0,
                max: 15000
            },
            y: {
                display: false,
                grid: {
                    display: false},
                min: 0,
                max: 15000
            }
            }
        }
        };
        var myChart = new Chart(
            document.getElementById('heatmap'),
            config
        );
        </script>

    <h2>Example Text Here</h2>

    

</html>