<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/index_style.css">
      </head>
            <div class="login-box">
                <form method="POST">
                  <div class="user-box">
                    <input class="summoner_name" type="text" name="summoner_name" required="">
                    <label>Summoner Name</label>
                  </div>
                  <a class="submit_button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <input class="submit_button" name="text" type="submit" value="Game Report" id="SI">
                  </a>
                </form>
              </div>
       
    </div>
    </div>
</html>