<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/patreon_style.css">
      </head>
      <ul class="banner">
        <li class="banner_button"><a href="/">Home</a></li>
        <li class="banner_button"><a href="/about">About</a></li>
        <li class="banner_button_patreon"><a href="/patreon">Patreon</a></li>
        
    </ul>
            <div class="login-box">
                <h3>
                    Please give us some moneyz.
                    Because we love moneyz.
                </h3>
                <form>
                    <div class="user-box">
                    </div>
                    <center><a class="submit_button">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <input class="submit_button" name="text" type="submit" value="Patreon Me" id="SI">
                    </a></center>
                  </form>
              </div>
</html>