html {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.toggle {
  display: inline-block;
}

li {
  display: inline-block;
}

li a {
  display: block;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li a:hover {
  background-color: #03e9f4;
  box-shadow: 0 0 50px #03e9f4;
}

body {
  background-image: url("../img/morgana-blurred.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: lighten;
  font-family: sans-serif;
 }

/* img {
  border-radius: 50%;
  border: 1.5px solid rgb(255, 248, 248);
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.champ_img{
  /* clip-path: circle(40%); */
  object-fit: cover;
  object-position: 40% 40%;
  border-radius: 50%;
  border: 1.5px solid rgb(255, 248, 248, 0.5);
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon_img{
  width: 30px;
}

.basic {
  text-align: center;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  text-align: center;
  color:#fff;
  background: rgba(0,0,0,.4);
  display: block;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 160px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  text-align: center;
  color:#fff;
  background: rgba(0,0,0,.4);
  display: block;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 160px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

canvas {
  background-color: rgb(255,255,255, 1);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 2px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
}

.chart {
  text-align: center;
  padding: 2px;
  margin: 5px;
}

.polar_chart {
  text-align: center;
  padding: 2px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgba(0, 15, 17, 0.7);
  /* border: 1.5px solid rgba(248, 255, 255, 0.5); */

}

.heatmap_chart {
  text-align: center;
  padding: 2px;
  margin-right: 200px;
  margin-left: 200px;
  background-image: url("../img/summoners_rift_minimap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgb(255, 248, 248);
}

.toggled_chart {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 2px solid rgb(255, 248, 248); */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 0px;
}

.toggled_bar_chart {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 2px solid rgb(255, 248, 248); */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 0px;
}

#totalDamageDoneToChampions {
  height: 100%
}

#totalDamageDealtToChampions_bar {
  height: 100%
}

.icon_wrapper {
  display: inline-block;
}

.toggle_grouper {
  text-align: center;
}

.toggle_wrapper {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr;
}

.toggle_button {
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  border-radius: 5%;
  margin-top: 10px;
  margin-left: -100px;
  padding: 10px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.zoom {
  transition: all 200ms ease;
}

.zoom:hover {
  transform: scale(1.7);
}